# Secrets and Credentials
.env
*.env
.env.local
*.ipynb

# Operating System Files
.DS_Store
Thumbs.db

# Dependencies (Don't push these, they are huge!)
node_modules/
__pycache__/
venv/
.venv/

# Build folders
dist/
build/
